.feature-box {
  background-color: rgba(235, 227, 227, 0.8);
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  max-width: 300px;
  min-height: 350px;
  margin-top: -3rem;
  overflow: hidden;
  padding: 5rem;
}
.feature-box__icon {
  font-size: 5rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/back.jpg");
  background-clip: text;
  color: transparent;
}
.feature-box__text {
  vertical-align: middle;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(110%);
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveinRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btnanime {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato" sans-serif;
  color: gray;
  font-weight: 400;
  padding: 3rem;
}

.heading-secondary {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
}
.heading-secondary:hover {
  transform: skewY(2deg);
}

.heading-thirtiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.compositon {
  position: relative;
}
.compositon__photo {
  width: 55%;
  transition: all 0.2s;
  box-shadow: 0 13px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
}
.compositon__photo:hover {
  transform: scale(1.05);
  z-index: 10;
  outline: solid #55c57a 1rem;
  outline-offset: 1rem;
}
.compositon {
  left: 20%;
  top: -2rem;
}
.compositon:hover .compositon__photo:not(:hover) {
  transform: scale(0.9);
}

.composion__photo__p1 {
  left: 0;
  top: -1rem;
}

.composion__photo__p2 {
  right: 19%;
  top: 30px;
}

.composion__photo__p3 {
  left: 20%;
  top: 12rem;
}

.section-about {
  background-color: wheat;
  padding: 25rem 0;
  margin-top: -25vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 3rem;
  align-self: center;
}

.section-features {
  padding: 20rem;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/back.jpg");
  background-size: cover;
  margin-top: -150px;
  transform: skew(0, -8deg);
}

.row-feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  transform: skewY(8deg);
  justify-content: space-evenly;
  position: relative;
}

.row-tours {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
  justify-content: center;
  flex-wrap: wrap;
}

.section-tours {
  background-color: wheat;
  padding-top: 30rem;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 2rem 0;
  background-color: transparent;
}

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  margin: 1.5rem;
  transition: all 0.3s;
  position: relative;
}
.btn-white {
  background-color: white;
  animation: btnanime 1s ease-out 0.8s;
  animation-fill-mode: backwards;
  font-size: 1.7rem;
  color: wheat;
}
.btn-green {
  background-color: #55c57a;
  animation: btnanime 1s ease-out 0.8s;
  animation-fill-mode: backwards;
  font-size: 1.7rem;
  color: white;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translate(0, -1px);
}
.btn::after {
  height: 100%;
  width: 100%;
  display: inline-block;
  content: "";
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: white;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
}
.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/back.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.cart {
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 270px;
  position: relative;
  transition: all 2s;
  font-size: 5rem;
  height: 47rem;
  margin: 4rem;
  position: relative;
}
.cart:hover .cart__side-front {
  transform: rotateY(180deg);
}
.cart:hover .cart__side-back {
  transform: rotateY(0deg);
}
.cart__side {
  height: 47rem;
  color: white;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
.cart__side-front {
  width: 100%;
  background-color: white;
}
.cart__side-back {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.cart__details {
  padding: 3rem;
}
.cart__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  color: black;
}
.cart__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.cart__details ul li:not(:last-child) {
  border-bottom: 3px wheat solid;
}
.cart__heading {
  font-size: 2.8rem;
  font-weight: 30;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 16rem;
  right: 5rem;
  width: 70%;
  box-decoration-break: clone;
  background-clip: padding-box;
  right: 0;
}
.cart__heading-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.cart__heading-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.cart__heading-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.cart__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.cart__price-box {
  text-align: center;
  margin-bottom: 8rem;
}
.cart__price-only {
  font-size: 1.9rem;
}
.cart__price-value {
  font-size: 6rem;
}
.cart__side-back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.cart__side-back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.cart___picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.cart___picture-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/gal-14.jpeg");
}
.cart___picture-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/back.jpg");
}
.cart___picture-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/gal-4.jpeg");
}

.story {
  width: 70vw;
  height: 20rem;
  margin: 0 auto;
  box-shadow: 0 3px 10px black;
  background-color: rgba(240, 240, 240, 0.4);
  border-radius: 4px;
  font-size: 16px;
  padding: 4rem;
  transform: skewX(-12deg);
  display: block;
  color: black;
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all 0.4s;
}
.story__text {
  transform: translate(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 0.4s;
  color: white;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: scale(1);
  filter: blur(1px) brightness(80%);
}
.story__heading {
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover;
  filter: contrast(0.5) brightness(0.5);
}

.logo-box {
  position: relative;
  top: 4rem;
  left: 5rem;
}

.logo {
  height: 3rem;
}

.logo:hover {
  animation: moveinleft;
  animation-duration: 3s;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveinleft;
  animation-duration: 3s;
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.5rem;
  animation-name: moveinRight;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.text-box {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
