*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html{
  font-size: 10px;
}
body
{
font-family: "Lato" sans-serif;
color: gray;
font-weight: 400;
padding: 3rem;
}
.header
{

height: 95vh;
background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8),rgba(40,180,131,0.8)),url('../img/back.jpg');
background-size: cover;
background-position: top;
clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
position: relative;
}
.logo-box
{
position: relative;
top:4rem;
left: 5rem;
}
.logo
{
  height: 3rem;
}
.logo:hover
{
  animation: moveinleft;
  animation-duration: 3s;
}
.heading-primary
{
color: white;
text-transform: uppercase;
backface-visibility: hidden;
}
.heading-primary-main{
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing:3.5rem;
animation-name: moveinleft;
animation-duration: 3s;
}
.heading-primary-sub
{
  display: block;
  font-size: 2rem;
  letter-spacing: 1.5rem;
  animation-name: moveinRight;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}
.text-box
{
position: absolute;
text-align: center;
top:40%;
left: 50%;
transform: translate(-50%,-50%);
}
@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%
  {
    transform: translateX(5rem);
  }
  100%
  {
    opacity: 1;
    transform: translateX(0)
  }

}
@keyframes moveinRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100%
  {
    opacity: 1;
    transform: translateX(0)
  }

}
.btn:link,.btn:visited
{
  text-decoration: none;
  color:gray;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  margin: 1.5rem;
  transition: all .3s;
  position: relative;
}
.btn-white
{
  background-color: white;
  animation: btnanime 1s ease-out .8s;
  animation-fill-mode: backwards;
  font-size: 1.7rem;
}
.btn:hover{
transform:translateY(-3px);
box-shadow: 0 5px 1 0px rgba(0,0,0,.3)
}
.btn:active
{
  transform: translate(0,-1px);
}
.btn::after
{
height: 100%;
width: 100%;
display: inline-block;
content: "";
border-radius:10rem;
position:absolute;
top:0;
left:0;
z-index: -1;
transition: all .4s;
}
.btn-white::after
{
background-color:white;

}
.btn:hover::after
{
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;

}
@keyframes btnanime {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0)
  }

}
