.btn
{
  &,&:link,&:visited
  {
    text-decoration: none;
   
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    margin: 1.5rem;
    transition: all .3s;
    position: relative;
  }
  &-white
  {
    background-color: white;
    animation: btnanime 1s ease-out .8s;
    animation-fill-mode: backwards;
    font-size: 1.7rem;
    color: $gray-color1;
  }
  &-green
  {
    background-color:$color-primary;
    animation: btnanime 1s ease-out .8s;
    animation-fill-mode: backwards;
    font-size: 1.7rem;
    color:white;
  }
  &:hover{
  transform:translateY(-3px);
  box-shadow:4px 5px 10px rgba(0,0,0,.5);
  }
  &:active 
  {
    transform: translate(0,-1px);
  }
  &::after
  {
  height: 100%;
  width: 100%;
  display: inline-block;
  content: "";
  border-radius:10rem;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  transition: all .4s;
  }
  &-white::after
  {
  background-color:white;

  }
  &:hover::after
  {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  }

}
.btn-text
{
  
  &:link,&:visited
  {
    font-size: 1.6rem;;
    color:$color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
  }
  &:hover
  {
background-color: $color-primary;
color: white;
box-shadow:0 .5rem 1rem rgba(0,0,0,.5);
    transform: translateY(-2px);

  }
  &:active
  {

    box-shadow:0 .5rem 1rem rgba(0,0,0,.5);
    transform: translateY(0);
  }
}