.section-about
{
background-color:wheat;
padding: 25rem 0;
margin-top: -25vh;
clip-path: polygon(0 0,100% 0,100% 100%,0 100%);

}
.row
{

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 3rem;
  align-self: center;
}

.section-features
{
padding: 20rem;
height: 95vh;
background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8),rgba(40,180,131,0.8)),url('../img/back.jpg');
background-size: cover;
// background-position: top;
// clip-path: polygon(0 25%,100% 0,100% 75%,0 100%);
// position: relative;
 margin-top: -150px;
transform: skew(0,-8deg) ;

}
.row-feature
{

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 2rem;
transform: skewY(8deg);
}
.row-tours
{
display:flex;
grid-template-columns: 1fr 1fr  1fr ;
gap: 0rem;
justify-content: center;
flex-wrap: wrap;
}
.section-tours
{
background-color:wheat;
padding-top: 30rem;
margin-top: -10rem;
}
.section-stories
{
padding:2rem 0;
background-color:lightgray;

}