.heading-secondary
{
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip:text;
    color: transparent;
    transition: all .3s;
   &:hover
   {

transform: skewY(2deg);

   }
 }
 .heading-thirtiary
 {
font-size: 1.6rem;
text-transform: uppercase;
margin-bottom: 1.5rem;;
 }
 .paragraph
 {
   font-size: 1.6rem;
   margin-bottom: 3rem;
   
 }